<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Culture" value="" />
		<add key="EnableBlur" value="true" />
		<add key="UserControlTesting" value="false" />
	</appSettings>
	<system.diagnostics>
		<switches>
			<add name="Mockingbird.HP.Parser.Actions" value = "4"></add>
			<add name="Mockingbird.HP.Parser.Parser" value = "4"></add>
			<add name="Mockingbird.HP.HP67.Engine" value="4"></add>
		</switches>
	</system.diagnostics>
</configuration>
