<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Culture" value="fr-BE" />
	</appSettings>
	<system.diagnostics>
		<switches>
			<add name="HP67_Parser.Actions" value = "4"></add>
			<add name="HP67_Parser.Parser" value = "4"></add>
			<add name="HP67.Engine" value="4"></add>
		</switches>
	</system.diagnostics>
</configuration>
